/* 웹폰트 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* 초기화 */
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

/* 기본 스타일 */
a{
  text-decoration: none;
  color: inherit;
}
body { 
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
  font-weight: 400;
}

/* 공통 스타일 */
.reset-margin{
  margin-top: 0;
  margin-bottom: 0;
}
.reset-list{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.a11y-hidden{
  background-color: red;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* 헤더 */
.app-header{
  background-color: rgba(255,255,255,0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  z-index: 100;
}
/* 브랜드 */
.brand a{
  display: block;
  width: 215px;
}
.brand img{
  padding: 25px;
}
/* 메인메뉴 열기 버튼 */
/* 버튼 디자인 */
.app-header .button .ir,
.app-header .button .close {
  cursor: pointer;
}

.app-header .button.is-open-menu {
  user-select: none;
  padding: 20px;
  background: #ffffff;
  border: 0;
}
.button.is-open-menu .ir{
  background-image: url(./../images/navigation-button.gif);
  display: block;
  width: 26px;
  height: 22px;
}
/* 메인 메뉴 */
.app-navigation{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: hsla(225, 57%, 10%, 0.9);
  color: #fff; transition: all 0.4s cubic-bezier(0.66, -0.01, 0.3, 0.99);
  transform: translateX(105vw);
  backdrop-filter: blur(2px);
}

@keyframes transform-none{
 to{
   transform: none;
 }
}
.app-navigation.is-active {
    transform: translateX(0);
  }
  
.app-navigation .button.is-close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px;
  background: transparent;
  color: #fff;
  font-weight: 100;
  font-size: 20px;
  line-height: 0.5;
  border: 0 none;
 
}
.app-navigation ul{
  padding-top: 60px;
}
.app-navigation li {
  border-bottom: 1px solid hsla(225, 57%, 30%, 0.5);
}

.app-navigation a {
  display: block;
  padding: 1em;
  transition: all 0.4s ease;
}
.app-navigation a:hover,
.app-navigation a:focus {
  background: #2e437c;
}
/* 음료 콘텐츠 */
.app-main{
  padding-top: 90px;
}
.ediya-menu{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.ediya-menu__item{
    position: relative;
   
}
.ediya-menu__item a{
  display: block
}
.ediya-menu__item figure{
  padding: 2em;
  margin: 1em;
  border: 1px solid #aaa;
  background-color: #f5f5f5;
  text-align: center;
}
.ediya-menu__item img{
  transition: all 0.2s;
  width: 100%;
  height: auto;
  max-width: 330px;
  max-height: 330px;
  transform: scale(0.85)
}
.ediya-menu__item img:hover{
  transform: scale(1);
}
.ediya-menu__item figcaption{
  margin-bottom: 1em;
}


.ediya-menu__item--detail{
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 1em;
    opacity: 1;
    padding: 2em;
    opacity: 0;
}

.ediya-menu__item--detail.is-active {
    opacity: 1;
  }
.ediya-menu__item--name{
    border-bottom: 2px solid #202023;
    padding-bottom: 1em;
    font-weight: 400;
    font-size: 18px;
    color: #202023;

}
.ediya-menu__item--name [lang="en"]{
    display: block;    
    color: #737373;
    font-size: 14px;
}
.ediya-menu__item--detail p{
    line-height: 1.6;    
}

.ediya-menu__item--multi-column{

    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 1px;
    column-fill: auto;
    column-rule: 1px solid #999;
    column-gap: 2em;
    padding: 1em 2em;
    background: #f8f8f8;
}
.ediya-menu__item--multi-column.is-2{
    column-count: 2;
    
}
.ediya-menu__item--multi-column dl{
    margin: 0;
}
.ediya-menu__item--multi-column dt{

    float: left;
    margin-right: 10;
    width: 40%;

}
.ediya-menu__item--multi-column dd{

    float : right;
    margin-left: 0;
    width: 40%;

}

.ediya-menu__item--detail .button.is-close-panel {
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 15px;
    font-size: 24px;
    background: transparent;
    transition: all 0.3s ease;
    border: 0 none;
  }

  
.ediya-menu__item--detail .button.is-close-panel:hover {
    background: #f3f3f3;
  }
  
@media screen and (min-width: 768px) {
  .ediya-menu{
    max-width: 960px;
    grid-template-columns: repeat(2, 1fr);
  }
}
